.movie-content {
  margin-top: 40px;
}

.release-year {
  padding-top: 25px;
}

.add-post-btn {
  margin: -3px 0 0 6px;
}

.post-author {
  padding-top: 4px;
  color: grey;
}

.posts {
  list-style-type: none;
}

.posts-content {
  padding-top: 50px;
}

.posts-content > h3 {
  color: black;
}

.post-form {
  margin-left: 40px;
}

.show-more {
  margin-top:20px;
}

.back-btn {
  margin-bottom: 20px;
}